@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="button">
        <a href="~/quotes/create">Add a Quote</a>
    </div>
    <div class="button">
        <a href="~/quotes">View all Quotes</a>
    </div>
    <div class="button">
        <a href="~/Pages/Quotes/SearchQuotes.cshtml">Search Quotes</a>
    </div>
</div>
